@font-face {
  font-family: 'Banquise-Regular';
  src: url('../fonts/Banquise-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DMSerifText-Regular';
  src: url('../fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifSC-VariableFont_wght';
  src: url('../fonts/NotoSerifSC-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
